.btn {
  border: 1px solid #1976d2;
  border-right: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 0.5em 1em;
  background-color: transparent;
  color: #1976d2;
  transition: background-color 200ms ease-in;
}

.btn:last-child {
  border-right: 1px solid #1976d2;
}

.btn:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btn:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn:hover {
  background-color: #e8f2fc;
}

.active {
  color: white;
  background-color: #1976d2;
}

.active:hover {
  background-color: #1976d2;
}
